* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Raleway, Roboto, 'Helvetica Neue', 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: white;
  overflow: hidden;
}

#root {
  height: 100vh;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  user-select: none;
}

.inputs {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 0.125rem;
  padding: 1rem;
  /* padding: 1rem;
  width: 100%;
  max-width: 700px; */
}

@media only screen and (max-width: 1200px) {
  .inputs {
    margin-top: 2rem;
  }
}

.inputs input,
.inputs textarea {
  margin: 0.5rem 0;
  width: 100%;
  border: none;
  padding: 0.5rem;
}

.inputs input[type='submit'] {
  color: white;
  font-size: 1.1rem;
  background-color: #000000;
  border: 2px solid transparent;
  border-radius: 0.125rem;
  cursor: pointer;
}

.inputs input[type='submit']:hover {
  border: 2px solid white;
}

.display {
  font-size: 4rem;
  font-family: Raleway;
  text-align: center;
  text-shadow: 4px 4px 0px black;
}

.paragraph {
  font-size: 1.1rem;
  text-align: center;
}

.letter-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  user-select: none;
}

.letter-title {
  font-size: 2rem;
  font-family: Raleway;
  text-align: center;
  text-shadow: 4px 4px 0px black;
}

.letter-paragraph {
  font-size: 1.1rem;
  text-align: left;
}

.letter-message {
  font-size: 1.1rem;
  background: black;
  color: white;
  border-radius: 0.125rem;
  margin: 1rem 0;
  padding: 1rem;
  max-height: 70vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.letter-message p {
  margin-bottom: 0.8rem;
  text-align: justify;
  width: 100%;
}

.scrollbar-hider {
  width: calc(100% + 2rem + 1px);
  height: calc(70vh + 2rem + 2px);
  padding-right: 0.9rem;
  padding-bottom: 0.9rem;
  overflow: scroll;
  position: relative;
}

.letter-read-button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: white;
  background-color: #000000;
  border: 2px solid transparent;
  border-radius: 0.125rem;
  cursor: pointer;
  border: 2px solid white;
}

.letter-read-button:hover {
  background-color: #353535;
}

.letter-read-button:active {
  transform: scale(0.95);
}
